<div class="row">
	<div class="col-sm-3">
		<%= image_tag @restaurant.image_url, class: 'img-responsive img-thumbnail center-block', alt: 'Restaurant-image' %>

		<h2>
		  <%= @restaurant.name %>
		</h2>

		<div class="star-rating" data-score= <%= @avg_rating %> ></div>
		<p>
			<strong>Average rating:</strong>
			<%= @avg_rating %><br>
			<%= pluralize(@reviews.count, "review") %>
		</p>

		<p>
		  <strong>Address:</strong>
		  <%= @restaurant.address %>
		</p>

		<p>
		  <strong>Phone:</strong>
		  <%= @restaurant.phone %>
		</p>

		<p>
		  <strong>Website:</strong>
		  <%= link_to @restaurant.website, @restaurant.website, target: '_blank' %>
		</p>
		
		<%= link_to 'Write a review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>

	</div>

	<div class="col-sm-9">
		<% if @reviews.blank? %>
			<h3>No reviews yet. Be the first to write one!</h3>
		<% else %>
			<table class="table">
				<thead>
					<tr>
						<td class="col-sm-3"></td>
						<td class="col-sm-9"></td>
					</tr>
				</thead>
				<tbody>
					<% @reviews.each do |review| %>
						<tr>
							<td>
								<h4><%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %></h4>
								<p><%= review.created_at.strftime("%-m/%-d/%Y") %></p>	
							</td>
							<td>
								<div class="star-rating" data-score= <%= review.rating %> ></div>
								<p><%= review.rating %></p>
								<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
								<% if user_signed_in? %>
									<p><% if ((review.user_id == current_user.id) || (current_user.admin?)) %>
										<%= link_to 'Edit', edit_restaurant_review_path(@restaurant, review), class: 'btn btn-link' %> <%= link_to 'Delete', restaurant_review_path(@restaurant, review), method: :delete, class: 'btn btn-link' %></p>
									<% end %> 
								<% end %>
							</td>
						</tr>
					<% end %>			
				</tbody>
			</table>
		<% end %>
	</div>
</div>

<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-link' %> |
<% end %>
<%= link_to 'Back', restaurants_path, class: 'btn btn-link' %>