<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Rating</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.comment %></td>
        <td><%= link_to 'Show', review, class: 'btn btn-link' %></td>
        <td><%= link_to 'Edit', edit_review_path(review), class: 'btn btn-link' %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path, class: 'btn btn-link' %>
