<!DOCTYPE html>
<html>
<head>
  <title>RestaurantReviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
	<li><%= link_to 'About', pages_about_path %></li>
	<li><%= link_to 'Contact', pages_contact_path %></li>
</ul>

<%= yield %>

<p>Copyright Sungwon Ryu</p>

</body>
</html>
