<!DOCTYPE html>
<html>
<head>
	<title>RestaurantReviews</title>
	<%= render 'layouts/bootstrap' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navbar' %>
	<div class="container">
		<div class="content-container">
			<div class="flash-container">
				<%= render 'layouts/flash_messages' %>
			</div>
			<%= yield %>
		</div>
		<div class="footer-container">
			<%= render 'layouts/footer' %>
		</div>
	</div>
	<%= render 'layouts/script' %>
</body>
</html>